POSTGRES_DB_URL=jdbc:postgresql://localhost:5435/your-db-name
POSTGRES_DB=your-db-name
POSTGRES_USER=your-db-user
POSTGRES_PASSWORD=your-db-password

JWT_SECRET=your-jwt-secret

PAGA_BASE_URL=paga-base-url
PAGA_SECRET_KEY=your-paga-secret
PAGA_PUBLIC_KEY=your-paga-public-key

PAGA_AUTH_HEADER=Basic your-paga-token
PAGA_WEBHOOK_SECRET=your-webhook-secret
WEBHOOK_CALLBACK_URL=your-webhook-callback-url

PAYMENT_PAYLOAD_SECRET_KEY=your-payment-payload-secret